#home-page-header {
	height:50%;
	width:100%;
	background-image:url('../img/typewriter.jpg');
	background-size:cover;
	text-align:center;
}
.page-header h1 {
	color:white;
	padding-top:10%;
	font-size:4em;
}